/** 
* @author: Alexander Chi
* @description:
* @date: 05/Septiembre/2021
**/ 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
  
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsla(212, 23%, 69%, 0.4);
$lightGrayishBlue: hsl(210, 46%, 95%);

* {
  font-family: 'Manrope';
  font-size: 13px;
}

.container {
  background-color: $grayishBlue; 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card { 
  background-color: $lightGrayishBlue;
  width: 80%;
  display: flex;
  border-radius: 10px;
  box-shadow: -1px -1px 15px -1px $grayishBlue;
  z-index: 100;
}

.content {
  padding: 30px;
}

.image {
  width: 40%;  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.9em;
  color: $veryDarkGrayishBlue;
}

.name {
  font-weight: bold;
  color: $veryDarkGrayishBlue;
}

.text, .date {
   margin-top: 15px;
   color: $desaturatedDarkBlue;
}

.item__image>img.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item {
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.item__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

button { 
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: $grayishBlue;
  cursor: pointer;
}

.share::after {
  width: 55px;
  height: 55px;
  content: url('../svgs/icon-share.svg');
}

.popover.active {
  display: flex;
  transition:opacity 2s
}

.popover{  
  display: none;
  position: absolute; 
  align-items: center;
  background-color: $veryDarkGrayishBlue;
  border-radius: 10px;
  padding: 5px;
  right: 8.5%;
  margin-bottom: 120px;
}

.popover::after {
  position: absolute;
  content: ' '; 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 0 20px;
  border-color: $veryDarkGrayishBlue transparent transparent transparent;
  left: 40%; 
  bottom: -30%; 
}

.popover> span {
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-transform: uppercase; 
  margin-right: 10px;
}

.popover> span.text {
  width: auto; 
  margin: 10px 10px 0 10px; 
  color: $lightGrayishBlue;
}

.facebook { 
  content: url('../svgs/icon-facebook.svg');
}

.twitter { 
  content: url('../svgs/icon-twitter.svg');
}

.pinterest { 
  content: url('../svgs/icon-pinterest.svg');
}